:root{
    --main-bg: #fff;
    --main-text: #fff;
    --second-text: #839cb9;
    --second-bg: #c4c8d7;
}

.bg{
    background-color: #0a2647;
}

.primary-text{
    color: var(--main-text);
}

.second-text{
    color: var(--second-text);
}

.primary-bg{
    background-color: var(--main-bg);
}

.secondary-bg{
    background-color: var(--second-bg);
}

.rounded-full{
    border-radius: 100%;
}

#wrapper{
    overflow-x: hidden;
    background-image: linear-gradient(to right, #8097b1, #a3afc4, #c4c8d7, #e3e3eb, #ffffff);
}

#sidebar-wrapper{
    min-height: 100vh;
    margin-left: -15rem;
    transition: 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading{
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group{
    width: 15rem;
}

#page-content-wrapper{
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper{
    margin-left: 0;
}

#menu-toggle{
    cursor: pointer;
}

.list-group a:hover{
    background-color: transparent;
    color: var(--main-text);
}

.list-group-item{
    border: none;
    padding: 20px 30px;
}

.sidebar a.active{
    background-color: transparent;
    color: var(--main-text);
    font-weight: bold;
    border: none;
    padding: 20px 30px;
    text-decoration: none;
}

footer{
    bottom: 0;
}

@media( min-width: 768px){
    #sidebar-wrapper{
        margin-left: 0;
    }

    #page-content-wrapper{
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper{
        margin-left: -15rem;
    }
}